__pycache__
.env

/litellm

drsai/backend/owebui_pipeline/pipelines/pipelines/failed/
drsai/backend/owebui_pipeline/pipelines/pipelines/__init__/

# pipelines/*
# !pipelines/.gitignore
.DS_Store

.venv
venv/